.headingcoach{
font-family: 'SF Pro Text';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 20px;
color: #FFFFFF;


}

.fundescription{
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
   
    text-transform: uppercase;
    
    color: #000000;
    text-align: center;

}